* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    background-color: #666666;
  }
  
  /* Add styles here! */
  header {
    background-color: #FFFFFF;
    padding-top: 14px;
    padding-bottom: 64px;
    border-bottom: 8px solid #999999;
  }
  p {
    line-height: 1.5;
  }
  .max-width-wrapper {
    font-size: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 96px;
  }
  .intro-chunk {
    width: 400px; 
  }
  strong {
    color: #009966;
  }
  .card {
    width: 800px;
    background-color: #FFFFFF;
    padding-top: 8px;
    border-bottom: 8px solid #999999;
  }
  .indented-heading {
    background-color: #FFBF00;
    width: fit-content;
    padding: 16px;
    margin: 0 0 0 -8px;
    border-bottom: 8px solid #CC9900;
  }
  .card p {
    padding: 24px;
    margin: 0;
  }